[submodule "Engine/Source/ThirdParty/spdlog"]
	path = Engine/Source/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\Engine\\Source\\ThirdParty\\GLFW"]
	path = .\\Engine\\Source\\ThirdParty\\GLFW
	url = https://github.com/glfw/glfw.git
